Flask
python-dotenv
pandas
openpyxl
duckdb
matplotlib
seaborn
langchain
langchain-core
langchain-community
langchain-groq
langgraph
langchain-huggingface
chromadb
sentence-transformers
duckdb
oracledb
plotly
tabulate
sqlalchemy